@{
    ViewBag.Title = "Error";
}

<h2>Error - Could not find Band with id @ViewBag.BandID</h2>

<p>Please return to the list of bands and select a band from there.</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>