* {
    font-family:sans-serif;
    font-size:1em;
}

body {
    background-color:#1b1e20;
    margin:0;
}

header {
    clear:both;
    width:100%;
}

.content
{
	margin:0 auto;
	max-width:960px;
	width:100%;
}

h1 {
    margin:10px 0 10px 0;
    font-size:1.8em;
    font-weight:bold;
    text-align:center;
}

h2 {
    margin:5px 0 0 0;
    font-size:1em;
    font-weight:bold;
}

figure {
    margin:0;
}

a {
    color:#6E7478;
    font-weight: bold;
    text-decoration: none;
}

a:visited,
a:active  {
    color:#464C4F;
    font-weight: bold;
    text-decoration: none;
}

/* Header */
header figure {
    float:left;
    margin:10px 5px 0 0;
}

header figure img {
    width:150px;
    height:50px;
    margin:0;
}

header section {
    float:right;
    clear:right;
    margin:0;
}

#logoutForm a {
    clear:right;
    float:right;
    margin:15px 10px 10px 10px;
    color:#FFF;
}

header section p {
    margin:35px 10px 0 0;
    float:right;
    color:#FFF;
}

header section ul {
    list-style:none;
    float:right;
    margin:64px 0 0 0;
}

header li {
    float:left;
    margin:10px 10px 10px 0;
}

header nav {
    float:left;
    margin:0;
    clear:left;
}

nav>ul {
    list-style:none;
    float:left;
    margin:0;
    padding:0;
}

nav>ul>li {
    float:left;
    margin:10px 0 10px 10px;
}

header a,
header a:visited, 
header a:active {
    color:#FFF;
    text-decoration:none;
    font-weight:bold;
}

/* News */
.news {
    padding: 10px;
    margin: 0;
    background-color:#c8d6d6; 
    border-bottom: 1px solid #70777c;
}

.news h1 {
    font-size:1.2em;
    text-align: left;
}

.news p {
    margin: 0;
}

/* Body */
body>div {
    clear:both;
    background-color:#ECF0F0; 
    max-width:960px;
    width:100%;
    margin:0 auto;
}

body>div>section {
    padding:10px;
}

body>div p {
    margin:0 0 .5em 0;
}

body>div ul {
    margin:0;
    padding:0;
}

body>div li {
    list-style:none;
}

.bigpicture>img {
    width:40%;
    height:40%;
    max-width:350px;
    float:right;
    padding:1%;
    background-color:#FFF;
    margin:0 0 0 10px;
    border:1px solid #999;
}

.smallpicture>img {
    width:100px;
    height:auto;
    padding:0;
    border:1px solid #999;
}

#static-map {
    width:100%;
	height:auto;
    border:1px solid #999;
}

#static-map img { 
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

#dynamic-map {
    display:none;
	width:100%;
	max-height:50%;
	height:600px;
    border:1px solid #999;
}

.form {
    max-width:300px;
    width: 100%;
    margin:10px auto 0 auto;
}

select,
input {
    border: 1px solid #E2E2E2;
    background: #FFF;
    color: #333;
    font-size: 1em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 100%;
}

select {
    width: auto;
}

input[type="checkbox"] {
    display:inline-block;
    background: transparent;
    border: inherit;
    width: auto;
}

input:focus, textarea:focus {
    border: 1px solid #777;
}

input[type="submit"],
input[type="button"],
button {
    background-color: #D3DCE0;
    border: 1px solid #787878;
    cursor: pointer;
    font-size: 1em;
    padding: 7px;
    margin-right: 8px;
    width: auto;
}

.checkbox {
    display:inline-block;
}

label {
    display:block;
    font-size:1.2em;
}

.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #D31818;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #2A6B1D;
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    clear:left;
    color:#D31818;
    font-weight:bold;
}

.field-validation-error {
    color: #D31818;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

.validation-summary-errors {
    color: #D31818;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.linebreak {
    white-space:pre-line;
}

.data {
    margin:0 auto;
    text-align:center;
}

.data table{
    text-align:center;
    padding:0 0 0 -5px;
    margin:0 auto;
    background-color:#ECF0F0; 
}

.data th {
    padding:5px 10px;
    font-weight:bold;
    font-size:1em;
    text-align:center;
}

.data tr {
    padding:5px 10px;
    text-align:center;
    font-size:1em;
}

/* Footer */
footer {
    clear:both;
    background-color:#D3DCE0; 
    max-width:960px;
    width:100%;
    margin:10px auto;
}

footer>p {
    display:inline-block;
    width:100%;
    padding:0;
    text-align:center;
    font-size:.8em;
}

/* Hide hideable elements if the screen gets to narrow */

@media only screen and (max-width:600px) {
    .hideable {
        display:none;
    }
}